.contact-form{
    margin: 80px auto 0px auto;
    width: 400px;

    h3{
        font-family: fantasy;
    }
    .contact-form__label{
        display: block;
        margin: 10px 0px 5px 0px;
        font-family: fantasy;
    }
    .contact-form__input--radio{
        display: inline-block;
        margin: 0px 10px 0px 0px;
    }
    .contact-form__input--checkbox{
        margin: 0px 10px 0px 0px;
    }
    .contact-form__textarea{
        margin: 10px 0px 0px 0px;
    }
    .contact-form__button{
        margin: 5px 0px 5px 0px;
    }
}