$header-font: 'Raleway', sans-serif;

.search-bar{
    text-align: center;
    margin: 30px 0px 0px 0px;

    .search-bar__label{
        margin: 0px 10px 0px 0px;
        font-family: $header-font;
    }
    .search-bar__input{
        width: 50%;
    }
}